@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand_wght.ttf") format("truetype-variations");
  font-weight: 300 400 700;
  font-style: normal;
}

:root {
  --color-gray: #666;
  --color-gray-dark: #333;
  --color-gray-light: #ddd;
  --color-text: white;
  --color-black: black;

  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;

  background-color: var(--color-gray);
  color: var(--color-text);
}

h1 {
  font-size: 350%;
  margin-bottom: 0.5rem;;
}
h1 + p {
  margin-top: 0;
}


main {
  width: 75%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--color-gray-dark);
}

footer {
  color: var(--color-gray);
  font-size: 85%;
  align-self: flex-end;
  padding: 1rem;
}

.image {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
}

.mainLogo {
  width: 25%;
  height: auto;
  aspect-ratio: 4/1.74;
}

#output {
  border: 1px var(--color-gray) solid;
  width: 75%;
  min-height: 5rem;
  max-height: 15rem;
  overflow: auto;
  padding: 0.25rem 0.5rem;
  margin: 2rem 0;
  background-color: var(--color-gray-light);
  color: var(--color-black);
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 300;
  white-space: pre-line;
  tab-size: 2;
}

#output:empty::before {
  content: "Čekám na data…";
  color: var(--color-gray);
  font-size: small;
}
